<h2>RICE</h2>

<p>
    <% if @hide_resolved %>
        Resolved issues are now <b>hidden</b>.
        <%= link_to 'Show resolved issues.', "/rice_report?project_id=#{@project.id}" %>
    <% else %>
        Resolved issues are now <b>shown</b>.
        <%= link_to 'Hide resolved issues.', "/rice_report?project_id=#{@project.id}&hide_resolved=1" %>
    <% end %>
</p>

<table class="list issues">
    <thead>
        <tr>
            <th>#</th>
            <th>Project</th>
            <th>Subject</th>
            <th>Assignee</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <% @issues_to_score.each do |is| %>
            <tr>
                <td class="id"><%= link_to is[0].id, issue_path(is[0].id) %></td>
                <td><%= link_to is[0].project, project_path(is[0].project) %></td>
                <td><%= link_to is[0].subject, issue_path(is[0].id) %></td>
                <td><%= is[0].assigned_to %></td>
                <td><%= is[0].priority %></td>
                <td><%= is[0].status.name %></td>
                <td><%= is[1] %></td>
            </tr>
        <% end -%>
    </tbody>
</table>

<h3>Issues without score</h3>

<table class="list issues">
    <thead>
        <tr>
            <th>#</th>
            <th>Project</th>
            <th>Subject</th>
            <th>Assignee</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% @issues_without_score.each do |issue| %>
            <tr>
                <td class="id"><%= link_to issue.id, issue_path(issue.id) %></td>
                <td><%= link_to issue.project, project_path(issue.project) %></td>
                <td><%= link_to issue.subject, issue_path(issue.id) %></td>
                <td><%= issue.assigned_to.try(:name) %></td>
                <td><%= issue.status.name %></td>
            </tr>
        <% end -%>
    </tbody>
</table>
